@import "vars"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	.menu-box
		.basic-menu__item
			margin-left: 20px
	// .goods-slider__model
	// 	font-size: .8rem

@media only screen and (max-width : 991px)
	.custom-care
		padding: 10px 0
		border-bottom: 1px solid #444
	.menu-box
		.basic-menu
			margin-bottom: 40px
	.pagenav-box_top
		display: none

	// .star
	// 	display: none
	.bottom-box__item
		margin-bottom: 30px
	.bottom-box
		padding-bottom: 0
@media only screen and (max-width : 767px)
	.slider-wow
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	.follow-us
		padding: 15px 0
		text-align: center
		div[class*="col-"]
			margin: 15px 0
	.find-us
		justify-content: center
	.stay-updated
		justify-content: center
		h4
			white-space: normal
		&__input
			width: 100%
	.menu-box
		.burger-link
			display: block
		.basic-menu
			position: fixed
			left: 0
			top: 0
			z-index: 3
			width: 200px
			height: 100vh
			transition: all 0.5s ease
			transform: translateX(-100%)
			background-color: #fafafa
			padding: 20px 0
			&__list
				flex-direction: column
				align-items: flex-start
				position: relative
			&__item
				margin-bottom: 10px
				position: static
			&__sub
				width: 100%
			&_mobile
				transform: translateX(0)
		.basic-menu__item:first-child
			margin-left: 20px
	.logo
		margin-bottom: 30px
		align-items: start
	.stock
		flex-direction: column
		height: 510px
		&__block1
			width: 100%
			height: 33.3%
		&__block2
			width: 100%
			height: 66.6%
		&__title
			&_center
				width: 30%
	.goods-slider .owl-nav
		// height: 50px
		top: 45%
		left: 0
		right: initial
		width: 100%

	.goods-slider .owl-nav button.owl-prev, 
	.goods-slider .owl-nav button.owl-next
		position: absolute
		background-color: $accent-color
		color: #fff
	.goods-slider .owl-nav button.owl-next
		right: 0
	.sidebar-module:nth-of-type(1)
		display: none
	// .sidebar-module:nth-of-type(2),
	// .sidebar-module:nth-of-type(3)
	// 	position: absolute
	// 	top: 0
	// 	border: 1px solid red
	.copyright
		text-align: center
	.bottom-info
		justify-content: center

@media only screen and (max-width : 575px)
	.custom-care
		justify-content: center
	.my-account
		justify-content: center
		border-bottom: 1px solid #444
	.top-line
		font-size: .75rem
	.tabs__caption li
		font-size: .9rem
		padding: 0 10px
	.card__model
		font-size: .8rem
	.card__price
		font-size: .9rem
		&::before
			font-size: .8rem
	.bottom-box__item
		text-align: center
	.bottom-box .social-box
		justify-content: center
	.bottom-info
		justify-content: center
		flex-direction: column
		align-items: center
	.bottom-info__link
		padding-right: 0
		border-right: none


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/
