// @import "bourbon"

@import "fonts"
@import "vars"

/* default settings */

*::-webkit-input-placeholder
	color: #9f9f9f
	opacity: 1

*::-moz-placeholder
	color: #9f9f9f
	opacity: 1

*:-ms-input-placeholder
	color: #9f9f9f
	opacity: 1

*::-ms-clear // убрать крестик очистки поля в IE
	display: none

*:invalid // убрать обводку незаполн. поля в Мозиле
	box-shadow: none

input:focus:required:invalid,
textarea:focus:required:invalid
	color: red
	border: 1px solid red
	background-color: transparent

input:required:valid,
textarea:required:valid
	border: 1px solid green
	color: green
	background-color: transparent

/* project settings */

html
	font-size: 16px

body
	background-color: #fff
	color: #6c6c6c
	font-family: "HelveticaLight", sans-serif
	// min-width: 290px
	overflow-x: hidden

ul, li
	list-style: none
	padding: 0
	margin: 0

h1, h2, h3, h4, h5
	margin: 0
	padding: 0

*
	margin: 0
	padding: 0

/* HEADER */

header
	margin-bottom: 40px

/* TOP LINE */

.top-line
	background-color: #000
	color: #fff
	text-transform: uppercase
	font-size: .8rem
	// div[class*=col]
	// 	border: 1px solid red

.custom-care
	height: 100%
	display: flex
	align-items: center

.my-account
	height: 100%
	display: flex
	align-items: center
	// justify-content: center
	&__item
		height: 100%
		border-left: 1px solid #444
		text-align: center
		padding: 0px 0px
		display: flex
		align-items: center
		justify-content: center
		position: relative
		&:nth-of-type(1)
			width: 70px
		&:nth-of-type(2)
			border-right: 1px solid #444
		.icon-user
			margin-right: 5px
	&__link
		color: #fff
		text-decoration: none
		padding: 10px 15px
		&:hover
			color: #fff
			text-decoration: none
			background-color: $accent-color

.currency
	position: absolute
	background-color: #000
	width: 100%
	top: 0
	left: 0
	z-index: 1
	&__item
		padding: 10px 0px
	&__item:not(.init)
		cursor: pointer
		display: none
	&__item:not(.init):hover,
	&__item.selected:not(.init)
		background-color: $accent-color
	&__item.init
		cursor: pointer
	.icon-sort-desc
		margin-left: 5px

.search
	min-height: 100%
	position: relative
	display: flex
	align-items: center
	justify-content: flex-end
	.icon-search
		position: absolute
		top: 50%
		right: 0
		transform: translateY(-50%)
		font-size: 1.1rem
		z-index: 0

.search__input
	width: 0px
	transition: all .5s
	background-color: #000
	border: none
	outline: none
	color: #fff
	padding: 10px 15px
	opacity: 0
	cursor: pointer
	z-index: 1
	position: relative
	border-right: 1px solid #444
	border-left: 1px solid #444

.search__input:focus
	width: 100%
	color: #fff
	opacity: 1

.search__input::-webkit-input-placeholder
	color: transparent

.search__input::-moz-placeholder
	color: transparent

.search__input:-ms-input-placeholder
	color: transparent

.search__input:focus::-webkit-input-placeholder
	color: #777
	opacity: 1

.search__input:focus::-moz-placeholder
	color: #777
	opacity: 1

.search__input:focus:-ms-input-placeholder
	color: #777
	opacity: 1

.logo
	display: flex
	align-items: center
	height: 100%

/* MENU-BOX */

.menu-box
	padding: 24px 0
	position: relative
.basic-menu
	height: 100%
	font-family: Arial, sans-serif
	&__list
		height: 100%
		display: flex
		align-items: center
		// justify-content: center
	&__item
		margin-left: 30px
		position: relative
		&:first-child
			margin-left: 0
	&__link
		color: #000
		text-decoration: none
		cursor: pointer
		display: block
		&:hover
			color: $accent-color
			text-decoration: none
		&::after
			content: "\e90f"
			font-family: 'icomoon'
			margin-left: 5px
	&__sub
		display: none
		position: absolute
		background-color: $accent-color
		width: 15vw
		left: 0
		margin-top: 10px
		padding: 5px 20px
		z-index: 3
	&__sub-item
		margin: 5px 0

	&__sub-link
		color: #fff
		text-decoration: none
		font-size: .9rem
		&:hover
			color: #fff
			text-decoration: underline

/* CART */

.cart
	color: #949393
	font-size: .8rem
	border: 1px solid #d6d6d6
	padding: 0px
	display: flex
	flex-direction: column
	height: 100%
	&__top
		height: 50%
		padding: 10px
		display: flex
		align-items: center
		position: relative
	&__bottom
		height: 50%
		border-top: 1px solid #d6d6d6
		background-color: #fafafa
		padding: 10px
		display: flex
		justify-content: flex-end
		position: relative
		align-items: center
		&::before
			content: "\e90e"
			font-family: 'icomoon'
			position: absolute
			left: 10px
			top: 50%
			transform: translateY(-50%)
	&__number
		border-right: 1px solid #d6d6d6
		padding-right: 10px
	&__price
		margin-left: 10px

.my-cart
	position: absolute
	background-color: #fff
	width: 100%
	height: 100%
	top: 0
	left: 0
	z-index: 2
	&__item
		padding: 5px 10px
		position: relative
		.icon-sort-desc
			position: absolute
			right: 10px
	&__item:not(.init)
		cursor: pointer
		display: none
		background-color: #fafafa
		border: 1px dotted $accent-color
		border-bottom: none
		margin: 0 -1px
		&:last-child
			border-bottom: 1px dotted $accent-color
	&__item:not(.init):hover,
	&__item.selected:not(.init)
		background-color: $accent-color
		color: #fff
	&__item.init
		cursor: pointer

/* BURGER */

.burger-link
	height: 38px
	width: 38px
	background-color: $accent-color
	position: absolute
	right: -38px
	top: 0px
	cursor: pointer
	transition: all .5s ease
	z-index: 1
	display: none
	span, span::before, span::after
		display: block
		height: 2px
		width: 20px
		background-color: #000
		position: absolute
		top: 50%
		right: 50%
		margin-top: -1px
		margin-right: -10px
		transition: all .1s ease
	span::before, span::after
		content: ''
	span::before
		transform: translateY(-7px)
	span::after
		transform: translateY(7px)
	&_active
		span
			background-color: transparent
		span::before
			transform: rotate(-45deg)
		span::after
			transform: rotate(45deg)
	&:hover
		background-color: lighten($accent-color, 5%)

/* TOP SLIDER */

.top-slider-wrap
	position: relative
	margin-bottom: 70px

.top-slider
	&__item
		height: 440px
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		position: relative
		&::after
			content: ''
			position: absolute
			width: 66%
			height: 7px
			left: 0
			bottom: 0
			background-color: rgba(#000, .2)
	.owl-nav
		position: absolute
		width: 100%
		top: 50%
		margin-top: -60px
	.owl-nav button.owl-next,
	.owl-nav button.owl-prev,
		width: 30px
		height: 120px
		background-color: #fefefd
		position: absolute
		outline: none
		transition: all .5s ease
		&:hover
			background-color: $accent-color
			&::before
				color: #fff
		span
			display: none
		&::before
			content: "\e90b"
			font-family: 'icomoon'
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-size: 1.2rem
			color: #cbcbca

	.owl-nav button.owl-next
		right: 0
		&::before
			content: "\e90d"
	.owl-dots
		position: absolute
		bottom: -40px
		width: 100%
		justify-content: center
		display: flex
	button.owl-dot
		height: 12px
		width: 12px
		background-color: #867a76
		border-radius: 50%
		margin: 0px 9px
		outline: none
		&:hover
			background-color: $accent-color
	button.owl-dot.active
		background-color: $accent-color

.slider-wow
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 15%
	z-index: 1
	&__pic
		display: block
		margin-bottom: 10px
		width: 100%
	&__btn-wrap
		text-align: center

.btn
	background-color: $accent-color
	color: #fff
	text-transform: uppercase
	padding: 15px 25px
	display: inline-flex
	align-items: center
	cursor: pointer
	outline: none
	transition: all .5s ease
	text-decoration: none
	border: none
	border-bottom: 2px solid #dd6b44
	font-family: "RobotoRegular"
	font-weight: 300
	font-size: .9rem
	white-space: nowrap
	.icon-caret-right
		margin-left: 15px
	&:hover
		background-color: lighten($accent-color, 5%)
		text-decoration: none
		color: #fff
	&_small
		padding: 7px 10px
		.icon-plus
			font-size: 1.2rem
	&__text
		margin-right: 10px


/* FOLLOW US */

.follow-us
	background-color: #ededed
	color: #6c6c6c
	font-size: .8rem

.stay-updated
	height: 100%
	display: flex
	align-items: center
	h4
		font-weight: 400
		margin-right: 15px
		white-space: nowrap
	&__input
		font-size: .8rem
		display: block
		border: 1px solid #fff
		outline: none
		padding: 7px 15px
		background-color: #fff
		color: #6c6c6c
		width: 50%
		&:focus:required:invalid
			color: $accent-color
			border: 1px solid $accent-color
			background-color: #fff
		&:required:valid
			border: 1px solid  #6c6c6c
			color: #6c6c6c
			background-color: #fff

.find-us
	height: 100%
	display: flex
	align-items: center
	justify-content: flex-end
	h4
		font-weight: 400

.social-box
	height: 100%
	display: flex
	align-items: center
	&__item
		display: block
		padding: 15px 17px
		font-size: 1.5rem
		text-decoration: none
		color: #6c6c6c
		transition: all .5s ease
		span
			display: block
		&:nth-child(even)
			background-color: #f7f7f7
		&:hover
			text-decoration: none
			color: $accent-color

/* STOCK */

.s-stock
	margin-bottom: 100px

.stock
	display: flex
	height: 340px
	overflow: hidden
	&__item
		height: 100%
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		overflow: hidden
		box-shadow: 0px 0px 0px 2px #fff
		position: relative
		display: block
		&::before
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			position: absolute
			background-color: rgba(#000, 0)
			transition: all .5s ease
		&:hover
			&::before
				background-color: rgba(#000, .1)
	&__block1
		width: 50%
	&__block2
		width: 50%
		display: flex
		flex-direction: column
	&__block3
		height: 50%
	&__block4
		height: 50%
		display: flex
	&__block5
		width: 50%
	&__block6
		width: 50%
	&__title
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		display: block
		&_left
			left: 10%
			transform: translate(0, -50%)
	h4
		color: #fff
		font-size: 2rem
		text-transform: uppercase
		font-family: "AEmpirial", sans-serif
		line-height: 1
		font-weight: 300
		position: absolute
		bottom: 5%
		text-align: center
		width: 100%
		padding: 0 10px

/* CARD */

.card
	width: 100%
	padding-bottom: 170%
	position: relative
	&__content
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: flex
		flex-direction: column
	&__image
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		height: 75%
		display: block
		position: relative
		transition: all .5s ease
		&::before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba(#000, 0)
			transition: all .5s ease
		&:hover
			.card__buy
				opacity: 1
			&::before
				background-color: rgba(#000, .1)
	&__buy
		background-color: #3d3d3d
		height: 110px
		width: 110px
		border-radius: 50%
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		color: #fff
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		text-transform: uppercase
		text-align: center
		font-size: .8rem
		opacity: 0
		transition: all .5s ease
		z-index: 2
	.icon-shopping-bag
		font-size: 1.8rem
		display: block
		margin-bottom: 5px
	&__info
		background-color: #f7f7f7
		height: 108px
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		padding: 10px
		text-transform: uppercase
		color: #373737
		text-align: center
	&__model
		font-family: "RobotoRegular", sans-serif
		font-weight: 300
		font-size: .9rem
		display: block
		line-height: 1
	&__price
		font-family: "RobotoRegular", sans-serif
		font-size: 1.3rem
		line-height: 1
		&::before
			content: "\e913"
			font-family: 'icomoon'
			font-size: 1.1rem
	&__sale
		position: absolute
		top: 0
		left: 0
		width: 70px
		height: 70px
		overflow: hidden
		background-color: #fff
		color: #fff
		font-size: .7rem
		text-transform: uppercase
		font-family: "RobotoRegular", sans-serif
		&::after
			position: absolute
			content: ''
			display: block
			height: 100%
			width: 150%
			bottom: 100%
			right: 0
			background: rgba(#4c4c4c, 1)
			transform-origin: 100% 100%
			transform: rotate(-45deg)
		span
			z-index: 1
			position: absolute
			top: 5px
			left: 5px

/* GOODS */

.s-goods
	background-color: $accent-color
	margin-bottom: 50px

.goods-slider
	padding: 30px 0
	background-color: $accent-color
	.owl-stage-outer
		overflow: visible
	.owl-nav
		position: absolute
		top: -50px
		right: 0
	.owl-nav button.owl-prev,
	.owl-nav button.owl-next
		background-color: #f2f2f2
		height: 50px
		width: 50px
		outline: none
		color: #979797
		font-size: 1.1rem
		transition: all .5s ease
		span
			line-height: 50px
		&:hover
			background-color: $accent-color
			color: #fff
	.owl-nav button.owl-next
		background-color: $accent-color
		color: #fff
		&:hover


/* TABS */

.tabs
	position: relative

.tabs__caption
	position: absolute
	top: -50px
	display: flex
	z-index: 10

.tabs__caption li
	height: 50px
	background-color: #fff
	text-transform: uppercase
	display: flex
	align-items: center
	justify-content: center
	padding: 0 20px
	font-family: Arial, sans-serif
	color: #555
	font-size: .95rem
	transition: all .3s ease

.tabs__caption li:not(.active)
	cursor: pointer
	&:hover
		background-color: #f2f2f2

.tabs__caption .active
	color: green
	background-color: $accent-color
	color: #fff

.tabs__content
	display: none

.tabs__content.active
	display: block

/* CATEGORY */

.category-line
	height: 40px
	display: flex
	align-items: center
	justify-content: space-between
	color: #4d4d4d
	font-size: .8rem
	margin-bottom: 15px
	h5
		font-size: .8rem
		font-weight: 300
		margin-right: 10px
	&_bottom
		justify-content: flex-end

.sort-box
	display: flex
	height: 100%
	align-items: center

.sort
	background-color: #f4f4f4
	width: 150px
	z-index: 1
	position: absolute
	left: 120px
	top: 0
	&__item
		position: relative
		padding: 10px 15px
	&__item:not(.init)
		cursor: pointer
		display: none
	&__item:not(.init):hover,
	&__item.selected:not(.init)
		background-color: $accent-color
	&__item.init
		cursor: pointer
	&__toggle
		position: absolute
		height: 100%
		top: 0
		right: 0
		background-color: #e5e5e5
		width: 30px
		display: flex
		align-items: center
		justify-content: center
		span
			display: block

.pagenav-box
	display: flex
	height: 100%
	align-items: center

.pagenav
	display: flex
	height: 100%
	&__item
		padding: 10px 0px
		background-color: #f4f4f4
		display: block
		margin-left: 5px
		cursor: pointer
		width: 40px
		text-align: center
		position: relative
		&:hover
			background-color: #e5e5e5
		.icon-chevron-thin-right
			line-height: 1
		&:last-child
			&::before
				content: "\e900"
				font-family: 'icomoon'
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)

.category-box
	border-top: 1px solid #d6d6d6
	padding-top: 15px
	.card
		margin-bottom: 30px

.sidebar
	.basic-menu
		&__list
			display: flex
			flex-direction: column
		&__item
			margin-left: 0px
			position: relative
			border-bottom: 1px solid #d6d6d6
			display: block
			padding: 10px 0
			width: 100%
			&:first-child
				margin-left: 0
		&__link
			color: #727272
			text-decoration: none
			cursor: pointer
			display: block
			text-transform: uppercase
			font-size: .9rem
			position: relative
			&:hover
				color: $accent-color
				text-decoration: none
			&::after
				content: "\e909"
				font-family: 'icomoon'
				position: absolute
				right: 0
				line-height: .9rem
				top: 50%
				transform: translateY(-50%)
		&__sub
			display: none
			position: static
			background-color: transparent
			width: 100%
			padding: 0px 15px
		&__sub-item
			margin: 0px 0
			display: block
		&__sub-link
			color: #727272
			text-decoration: none
			font-size: .9rem
			position: relative
			padding-left: 15px
			display: block
			&:hover
				color: #000
				text-decoration: none
			&::before
				content: "\e90c"
				font-family: 'icomoon'
				position: absolute
				left: 0
				line-height: .9rem
				top: 50%
				transform: translateY(-50%)
				color: $accent-color

.sidebar-module
	// border: 1px solid green
	// padding-bottom: 15px

.sidebar-title
	background-color: #000
	color: #fff
	text-transform: uppercase
	font-family: Arial, sans-serif
	font-size: .8rem
	padding: 10px
	font-weight: 300
	// margin-bottom: 15px

/* allways bottom */

@import "media"